<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--
    <add name="ConnectionString" connectionString="Data Source=74.63.251.194,1533;Initial Catalog=SnowCity_DefaultDatabase;User Id=snowcity_DefaultDatabaseUser;Password=some_pass_here" providerName="System.Data.SqlClient"/>
    <add name="MasterConnectionString" connectionString="Data Source=74.63.251.194,1533;Initial Catalog=master;User Id=snowcity_DatabaseUser;Password=some_pass_here;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\snowcity_DefaultDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    -->
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\snowcity_DefaultDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MasterConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.snowcity.ir" port="25" userName="tayyebi_mohammadreza@snowcity.ir" password="some_pass_here"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <pages validateRequest="false"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <sessionState mode="InProc" cookieless="AutoDetect" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
</configuration>