.insertExternalLink {
    background-color:#edff00;
    width:400px;
    border-radius:50px;
    margin:0 auto 0 auto;
    text-align:center;
}
.btn_insert {
}
.txt_insert {
}
.gv_Default {
    background-color:#f6f8d2;
}
.gv_Default_Row {
    background-color:#2e3106;
    color:#edff00;
}
    .gv_Default_Row:hover {
        background: rgb(249,208,104); /* Old browsers */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y5ZDA2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2ZiZGY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0iI2ZjY2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2Y5OWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top,  rgb(249,208,104) 1%, rgb(251,223,147) 43%, rgb(252,205,77) 68%, rgb(249,154,0) 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgb(249,208,104)), color-stop(43%,rgb(251,223,147)), color-stop(68%,rgb(252,205,77)), color-stop(99%,rgb(249,154,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgb(249,208,104) 1%,rgb(251,223,147) 43%,rgb(252,205,77) 68%,rgb(249,154,0) 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgb(249,208,104) 1%,rgb(251,223,147) 43%,rgb(252,205,77) 68%,rgb(249,154,0) 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgb(249,208,104) 1%,rgb(251,223,147) 43%,rgb(252,205,77) 68%,rgb(249,154,0) 99%); /* IE10+ */
        background: linear-gradient(to bottom,  rgb(249,208,104) 1%,rgb(251,223,147) 43%,rgb(252,205,77) 68%,rgb(249,154,0) 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d068', endColorstr='#f99a00',GradientType=0 ); /* IE6-8 */
        color:black;
    }