.siteMap {
    background-color:#0f0;
    color:#023d02;
    position:fixed;
    top:0px;
    right:200px;
    padding-top:0;
    box-shadow:0 0 10px 10px white;
    z-index:4;
}
.UserImage {
    max-width:200px;
    max-height:200px;
}
.toolbar {
    background-color:#567856;
    position:fixed;
    z-index:1000;
    bottom:0;
}
.PageTitle {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:small;
}
.updateprogress {
    position:fixed;
    width:100%;
    top:0;
    z-index:10000;
    text-align:center;
    background-color:#4c9c4c;
}
.Like, .Hate {
    border-width:0;
    border-radius:400%;
    padding-top:15px;
    padding-bottom:15px;
}
    .Like:hover, .Hate:hover {
        background-color:#024402;
        color:white;
    }
.Hate {
    background-color:rgb(255, 195, 0);
}
.Like {
    background-color:#b7edb7;
}
    .siteMap a {
        text-align:center;
        text-shadow:0 0 10px #024402;
        padding-left:20px;
        padding-right:20px;
        background-color:#81ff81;
        color:#567856;
        box-shadow:0 0 10px 2px #024402;
    }
.GridView{
    background-color:#b7edb7;
    width:100%;
    color:#024402;
    margin:0 auto 0 auto;
    min-width:750px;
    max-width:750px;
}
    .GridView a {
        color: #024402;
    }
.DefaultDatalist {
    width:100%;
}
.seperator {
    margin:0 auto 0 auto;
    text-align:center;
}
.GridView_Row {
    background-color: #b7edb7;
    color: #024402;
}
    .GridView_Row:hover {
        background: rgb(180,221,180);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), color-stop(67%,rgba(0,138,0,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); 
        background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); 
        background: -o-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); 
        background: -ms-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);   
        background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-8 */
    }
body {
    background-image:url(Background.png);
    background-size:100px;
    background-color: #024402;
    color: black;
    direction: rtl;
    margin:0px;
}
a {
    text-decoration:none;
}

.banner {
    background-color:#024402;
    color:white;
    width:1300px;
    font-size:72px;
    margin: 0 auto 0 auto;
    text-align:center;
    height:400px;
    background-image:url(../../../Logo.png);
    background-repeat:no-repeat;
    background-size:auto 100%;
    max-height:150px;

}
.news-group ,.news-user ,.adverties ,.news-archive ,.news-view ,.news-like{
    box-shadow:0 0 10px #024402;
    display:inline-block;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:green;
    background-color:rgba(0, 128, 0, 0.80);
    max-width: 180px;
    min-width:180px;
}
.news-group, .adverties, .news-view {
    margin-right:84%;
}
.DefaultContent {
    position:absolute;
    background-color:#b7edb7;
    min-width:850px;
    max-width:850px;
    min-height:420px;
    right:235px;
    top:700px;
}
.div_player {
    position:absolute;
    min-width:900px;
    max-width:900px;
    min-height:420px;
    max-height:420px;
    right:210px;
    text-align:center;
}
.div_player img {
    max-height:400px;
}
.div_player img:hover {
    box-shadow:0 0 20px #024402;
    transform:rotate(-7deg);
}
    .adverties a, .relatedVideos a, .news-user a, .news-group a, .news-like a, .news-view a,.news-archive a {
        font-size: small;
        background-color: #024402;
        color: white;
    }
        .adverties a:hover, .relatedVideos a:hover, .news-user a:hover, .news-group a:hover, .news-like a:hover, .news-view a:hover ,.news-archive a:hover;{
            background-color: #b7edb7;
            color: #024402;
        }
        .relatedVideos a:visited, .news-like a:visited, .news-view a:visited {
            background-color: green;
            color: #b7edb7;
            box-shadow: 0 0 4px black;
        }
.VideoTitle {
    background-color:white;
    color:#024402;
    font-size:30px;
}
    .VideoTitle:hover {
        background-color:rgba(0, 128, 0, 0.80);
        color:black;
    }
    .VideoTitle:visited {
        background-color:#b7edb7;
        color:green;
    }
.description {
    background-color:#b7edb7;
    padding:20px;
}
.shareIn {
    background-color:#024402;
    color:white;
    padding:10px;
    position:relative;
    border-width:1px;
    border-style:solid;
    border-color:rgb(255, 195, 0);
    box-shadow:0 0 10px white;
}
.btn_ShowAll {
    border-radius:500%;
    width:100px;
    height:100px;
    border-width:0;
}
