.txt_Value {
    display:block;
    width:900px;
    min-width:900px;
    max-width:900px;
    margin:0 auto 0 auto;
    min-height:200px;
    border-radius:20px;
    border-width:0;
}
.btn_Send {
    display:block;
    width:300px;
    margin:0 auto 0 auto;
}
.lbl_Success {
    display:block;
    text-align:center;
    color:green;
    margin:0 auto 0 auto;
}