.P_ReadPost {
    background-color:#fff8d1;
    color:#453d0f;
}
.p_NoPermission {
    text-align:center;
    background-color:#ff0000;
    color:#fff8d1;
}
.p_NoPermission, .P_ReadPost {
    margin:0 auto 0 auto;
}
.lbl_Time ,.lbl_Date {
    background-color:#6b6022;
}
.lbl_CantVote {
    color:red;
}
.div_Value {
    box-shadow:0 0 10px 3px #a48c00;
    background-color:#fffbe4;
    width:680px;
    padding:10px;
    margin: 0 auto 0 auto;
    border-color:#685906;
    border-style:dashed;
    border-width:1px;
    border-radius:10px;
}
    .div_Value img {
        max-width:400px;
        box-shadow:0 0 10px #ffd900;
        margin:0 auto 0 auto;
    }
.lbl_Likes {
    background-color:#12ff00;
    color:#108307;
}
.lbl_Hates {
    color:#ff0000;
    background-color:#fcc4c4;
}
.loading1 {
    padding:25px;
    width:50px;
    height:50px;
    border-radius:500%;
    background-color:#444200;
    box-shadow:0 0 10px 3px #ffd300;
    position:fixed;
    bottom:0px;
    right:0px;
    background-image:url(Loading.gif);
    background-size:100% 100%;
}
.comment {
    width:850px;
    margin:0 auto 0 auto;
    background-color:#fff5d8;
    box-shadow:0 0 10px;
    color:#fff204;
    padding-right:5px;
    padding-left:5px;
}
.txt_Comment {
    border-radius:20px;
    max-width:450px;
    max-height:100px;
    min-width:450px;
    min-height:100px;
    padding:20px;
}
.div_CommentText {
    margin: 0 auto 0 auto;
    width:450px;
    min-width:450px;
    max-width:450px;
    background-color:#ffe200;
    padding-top:5px;
    color:#272202;
    box-shadow:0 0 10px;
}
.dl_Comment {
    padding:20px;
    box-shadow:0 0 10px;
}
.p_ManageComment {
    background-color:#393100;
    opacity:0.5;
    font-size:12px;
}
    .p_ManageComment input {
        max-height:0px;
        font-size:8px;
    }

    .p_ManageComment:hover {
        opacity:1;
    }
.btn_Comment_delete {
}
.btn_Comment_edit {
}
.lbl_CommentID {
    font-size:10px;
}
.txt_EditComment {
    display:block;
    min-width:350px;
    max-width:350px;
    min-height:200px;
}
.hp_Archive {
    position:absolute;
    display:block;
    border-radius:20px;
    background-color:#fffff5;
    font-size:large;
    left:0;
    top:-50px;
    float:left;
}