
    .sideContent1 {
    background-color:#feffcb;
    width:180px;
    padding:10px;
    font-size:xx-small;
}
    .sideContent1 a {
        display:block;
    }
.gv_Default {
    width:450px;
    margin:0 auto 0 auto;
    box-shadow:0 0 15px #faff01;
}
.hp_Title {
    display:block;
}
.gv_Default_Row {
    background-color:#000000;
    color:#ffffff;
}
    .gv_Default_Row:hover {
        background-color:#ffffff;
        color:#000000;
    }
    .gv_Default_Row a:visited {
        color:#feffcb;
    }
.pager a{
    background-color:red;
}
.pager {
}